<table width="100%" class="table" cellpadding="0" cellspacing="0" border="0">
	<colgroup>
		<col style="width:200px" />
		<col style="width:80px" />
		<col />
		<col style="width:80px" />
		<col style="width:20px" />
	</colgroup>
<!--
	<tr itemprop="big.jpg">
		<td class="product-name">{name}</td>
		<td>{count}</td>
		<td>@{template('materials', materials)}</td>
		<td class="product-price">{price | ### ###.##} &euro;</td>
		<td><a href="javascript:void(0)" class="buy"><span>buy</span></a></td>
	</tr>
-->
</table>